* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Purple: hsl(259, 100%, 65%);
  --Lightred: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Offwhite: hsl(0, 0%, 94%);
  --Lightgrey: hsl(0, 0%, 86%);
  --Smokeygrey: hsl(0, 1%, 44%);
  --Offblack: hsl(0, 0%, 8%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--Offwhite);
}
.container {
  width: 480px;
  height: 400px;
  border-radius: 10px 10px 118px 10px;
  margin: 100px auto;
  padding: 30px;
  background-color: var(--White);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.flex-inputs {
  position: relative;
  display: flex;
  width: 377px;
  column-gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--Lightgrey);
}

/* get rid of arrows on input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label,
input {
  display: block;
}

label {
  margin-bottom: 5px;
  font-size: 0.7rem;
  color: var(--Smokeygrey);
}

input[type='number'] {
  background-color: var(--white);
  border: 1px solid var(--Lightgrey);
  border-radius: 5px;
  padding: 10px 50px 10px 10px;
  width: 90px;
  outline: none;
}
input[type='number']:focus {
  border: 1px solid var(--Purple);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#submit {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100vh;
  border: none;
  top: 79px;
  right: -36px;
  background-color: var(--Purple);
  cursor: pointer;
}

#submit:hover {
  background-color: var(--Offblack);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#submit img {
  width: 25px;
}

.show-inputs {
  margin-top: 20px;
}
.show-inputs h2 {
  font-size: 50px;
  font-style: italic;
}

.show-inputs .span {
  color: var(--Purple);
}

.error {
  border: 1px solid red !important;
  color: red;
}

.msg-error {
  display: none;
  margin-top: 5px;
  font-size: 7px;
  font-weight: lighter;
  color: red;
}
